body a {
    font-family: 'Open Sans', sans-serif;


}

.header {
    background-color: #FFF8F3;
    width: 1600px;
    height: 837px;
    background-image: url('./images/header_bg.png');
    /* background-image: url('./images/developer.png'); */
    background-repeat: no-repeat;
    background-position: bottom right;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 200px;

}

nav a {
    text-decoration: none;
    color: #474747;
    font-size: 20px;
    font-weight: 400;

}

.btn-primary {
    color: white;
    background: #FD6E0A;
    border: 0;
    border-radius: 5px;
    width: 150px;
    height: 64px;
    font-size: 20px;
    font-weight: 700;

}

.text-primary {
    color: #FD6E0A;
}

.nav-title {
    color: #181818;
    font-size: 45px;
    font-weight: 800;

}

nav>ul {
    display: flex;
    align-items: center;
}

nav li {
    list-style: none;
    margin-right: 50px;
}

.banner {
    padding: 20px;
    display: flex;
    justify-content: space-around;
    align-items: center;

}

.profile-pic {
    width: 584px;
    height: 676px;
}

.banner-greeting {
    font-size: 45px;
    font-weight: 600;
    color: #474747;
    margin-bottom: 0;
}

.banner-heading {
    font-size: 85px;
    font-weight: 700;
    color: #181818;
    margin-top: 5px;
    margin-bottom: 20px;
}

.banner-des {
    font-size: 18px;
    font-weight: 400;
    color: #757575;
}

.about {
    border-radius: 10px;
    background: #FFF8F3;
    width: 1140px;
    height: 550px;
    margin: 130px auto;
    margin-bottom: 0;
}




.section-title {
    color: #181818;
    text-align: center;
    font-size: 35px;
    font-weight: 700;
    padding-top: 130px;

}

.section-des {
    color: #757575;
    text-align: center;

    font-size: 18px;

    font-weight: 400;
    line-height: 30px;
    padding: 30px 100px 30px 100px;
}

.about-info-container {
    display: flex;
    justify-content: space-around;
}

.about-info {
    text-align: center;
}

#what-i-do-description {
    padding: 20px 150px;
    text-align: center;
}

.section-title {
    margin-top: 100px;
}

.skills-container {
    display: flex;
    width: 1100px;
    margin: 50px auto;
    gap: 24px;
    margin-bottom: 0px;

}

.skill {

    padding: 30px;
    border-radius: 5px;
    background: #FFF;
    box-shadow: 0px 6px 50px 0px rgba(0, 0, 0, 0.06);



}

.skill-description {
    color: #757575;
    font-size: 16px;
    font-weight: 400;
    line-height: 28px;
}

.section-title-2 {
    text-align: center;
    margin-top: 130px;
    color: var(--Dark-01, #181818);

    font-size: 35px;

    font-weight: 700;

}